<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Global health map</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://thematicmapping.org/playground/d3/d3.slider/d3.slider.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script type="text/javascript" src="js/app.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="col-md-11">
                <h3>A Comparison of Obesity and Overweight Prevalence Between Genders</h3>
                <h4>Year: <span id="slider3text">1990</span></h4>

                <div id="slider3" class="d3-slider d3-slider-horizontal">
                </div>
                <div id="tooltip-container"></div>
                <div id="canvas-svg"></div>


            <div class="col-md-1">
                <div id="key">
                    <img src="img/map_key.png" alt="map key" />
                </div>
                <input type="button" name="name" value="Change" onclick="updateGraph()">
            </div>
        </div>

    </body>
</html>
